.card {
  transition: all 0.3s;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.grid-layout {
  &.text-grid {
    .card {
      border: none;
    }
  }

  .card-link:hover .card {
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 10px;
  }
}
